<h2> Visit </h2>
<p> On this page you can.... </p>

<form action="/visit" method="POST">
  
  <div class="form-group">
    <label>Your name</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name" value="<%=@username %>">
  </div>
  
  <div class="form-group">
    <label>Your phone</label>
    <input name="phone" type="text" class="form-control" placeholder="Enter your phone number" value="<%=@phone %>">
  </div>

  <div class="form-group">
    <label>Enter date and visit time</label>
    <input id="datetimepicker" name="date_time" type="text" class="form-control" placeholder="Enter your visit time" value="<%=@date_time %>">
  </div>

  <div class="form-group">
  	<label>Select barber</label>
  	<select class="form-control" name="barber">
      <% @barbers.each do |item| %>
        <option <%= item['barber'] == @barber ? 'selected' : ''%>><%=item['barber'] %> </option>
      <% end %> 
  	</select>
  </div>

  <div class="form-group">
    <label>Select color:</label> <input id="color-picker" type="text" name="color_picker" value="#333399" />
  </div>

  <button type="submit" class="btn btn-primary">Visit</button>

</form>

<script type="text/javascript">
     $(document).ready(function(){
        $('#color-picker').colorPicker();
        $('#datetimepicker').datetimepicker();
    });
</script>